.title{
    .product-title {
        font-size: 20px;
        color: var(--TextColor2);
        border-bottom: 2px solid var(--BorderColor1);
        margin: 12% 0;
        font-weight: 500;
    }

    .images{
        img{
            height: 70%;
        }
    }
}

.button{
    width: 30%; 
    margin: 0 35%; 
    padding: 1% 0;
    border: 2px solid var(--BorderColor2);;
}
.button:hover{
    border-color: var(--BorderColor);
    color: var(--BorderColor);
}